/* ggogle font  */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    background-image: url('gradient-2.png');
}

.corona {
    font-size: 60px;
    font-weight: bold;
    color: rgb(169, 169, 202);
}

.single-card {
    box-shadow: 10px 5px 10px;
    border-radius: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.full-card {
    box-shadow: 5px 5px 5px;
    border-radius: 35px;
    text-align: center;
    background: transparent;
    transition: 2s;
}

.full-card:hover {
    background-color: aliceblue;
    transform: rotateY(360deg);
}